<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">USER DETAILS</div>
    <div class="panel-body">
      <form [formGroup]="detailForm">
        <fieldset>
          <legend>Enter your details</legend>

          <div class="form-group">
            <label>CITY</label>
            <ng-select [items]="cities" bindLabel="name" placeholder="Select city" formControlName="selectedCity" [ngClass]="{'select-danger': detailForm.invalid}">
            </ng-select>
          </div>
          <div *ngIf="showCity" class="form-group">
            <p>
              {{showCity}}
            </p>
          </div>
          <div class="form-group">
            <button class="btn btn-info" [disabled]="!detailForm.valid" (click)="getCity()">Show City</button>
          </div>
          <div *ngIf="!detailForm.controls.selectedCity.touched ||detailForm.controls.selectedCity.invalid" class="form-group">
            You have not selected a city yet
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
