/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
.modal-open .modal
{
  opacity: 1;
  align-items: stretch;
  align-content: stretch;
  display: flex
}
.modal-dialog {
  align-content: center;
  align-items: center
}

