<div class="container">
  <div class="jumbotron">
    <h1>Lazy Loading/Reactive Forms Demo</h1>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      Login as:
      <button type="button" class="btn btn-primary" (click)="prevId='omer@omer.com'">
        Omer Farooq Ahmed
      </button>
    </div>
  </div>
  <app-form [id]="prevId" [denied]="pDenied" (eventOutput)="onNotify($event)"></app-form>
  <button class="btn btn-success" [disabled]="!enable" (click)="login()">Login</button>
</div>